@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?94d3qg');
  src:  url('../fonts/icomoon.eot?94d3qg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?94d3qg') format('truetype'),
    url('../fonts/icomoon.woff?94d3qg') format('woff'),
    url('../fonts/icomoon.svg?94d3qg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-ticket-color .path1:before {
  content: "\e912";
  color: rgb(243, 144, 20);
}
.ic-ticket-color .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(252, 227, 103);
}
.ic-ticket-color .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(248, 193, 64);
}
.ic-ticket-color .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(243, 144, 20);
}
.ic-ticket-color .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(243, 144, 20);
}
.ic-ticket-color .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(243, 144, 20);
}

.ic-chevron-right:before {
  content: "\e900";
}
.ic-chevron-left:before {
  content: "\e901";
}
.ic-chevron-down:before {
  content: "\e902";
}
.ic-chevron-up:before {
  content: "\e903";
}
.ic-ticket:before {
  content: "\e904";
}
.ic-cancel:before {
  content: "\e905";
}
.ic-envelope:before {
  content: "\e906";
}
.ic-facebook:before {
  content: "\e907";
}
.ic-home:before {
  content: "\e908";
}
.ic-caret-right:before {
  content: "\e909";
}
.ic-marker:before {
  content: "\e90a";
}
.ic-phone1:before {
  content: "\e90b";
}
.ic-caret-left:before {
  content: "\e90c";
}
.ic-checkmark:before {
  content: "\e90d";
}
.ic-book:before {
  content: "\e90e";
}
.ic-refresh:before {
  content: "\e90f";
}
.ic-viber:before {
  content: "\e910";
}
.ic-phone:before {
  content: "\e942";
}
.ic-clock:before {
  content: "\e94e";
}
.ic-user:before {
  content: "\e971";
}
.ic-search:before {
  content: "\e986";
}
.ic-ctrl:before {
  content: "\ea50";
}
.ic-share:before {
  content: "\ea82";
}
.ic-instagram:before {
  content: "\ea92";
}
.ic-whatsapp:before {
  content: "\ea93";
}
.ic-menu:before {
  content: "\e911";
}
.ic-calendar:before {
  content: "\e953";
}
.ic-plus:before {
  content: "\ea0a";
}
.ic-minus:before {
  content: "\ea0b";
}
