@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "abstracts/variables";

@import 'frameworks/bootstrap';
@import "frameworks/slickfix";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/utilities";
@import "base/typography";
@import "base/spacing";
@import "base/icons";

@import "components/navbar";
@import "components/hero";
@import "components/movies_shows";
@import "components/movie_details";
@import "components/our_partners";
@import "components/testimonial";
@import "components/faqs";
@import "components/contact";
@import "components/tnc";

body {
    background-color: #3a3a3a;
    color: $gray-200;
    font-family: 'Poppins', sans-serif;
}



