.contact-form {
    @include defaultPaddingLayout();


    .services-heading {
        @include sec-heading();
    }

    .form-content {

        padding: 3rem 4rem;

        @include media-breakpoint-down(md) {
            padding: 2rem;
        }

        @include media-breakpoint-down(sm) {
            padding: 1rem 0;
        }

        .info-col {

            ul {
                list-style: none;
                padding-left: 0;
            }

            .contact-info {
                li {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    i, svg {
                        color: $primary;
                        margin-right: 1rem;
                        height: 1.5rem;
                    }
                }
            }

            .social-info {
                display: flex;

                li {
                    height: 3rem;
                    width: 3rem;
                    font-size: 1.25rem;
                    margin-right: 3rem;
                    border-radius: 50%;
                    transition: 0.2s linear;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: $primary;
                        color: white !important;
                    }

                    a:hover {
                        color: white !important;
                    }
                }
            }
        }

        .form-col {
            overflow: hidden;
            background-color: $gray-400;
            border-radius: 1rem;
            padding: 2rem;

            @include media-breakpoint-down(sm) {
                padding: 1rem;
            }


            .form-group {
                margin-bottom: 1rem;

                .form-control {
                    background-color: transparent;
                    color: white
                }

                .accordion {

                    background: transparent;

                    .accordion-item {
                        background: transparent;
                        border-color: #D8D8D8;
                    }

                    .accordion-button {
                        color: $gray-200;
                        display: flex;
                        justify-content: space-between;
                        background: transparent;

                        @include media-breakpoint-down(md) {
                            padding: 1rem 0.75rem;
                        }

                        &::after {
                            background-image: none;
                            width: 0;
                            height: 0;
                            display: none;
                        }

                        span {
                            display: inline-block;
                            width: 100%;
                        }

                        .provider-image {
                            display: flex;
                            margin-left: 1rem;
                            justify-content: flex-end;

                            img {
                                height: 2rem;
                                margin-right: 1rem;

                                &:last-child {
                                    margin-right: 0;
                                }

                                border-radius: 0.25rem;
                            }
                        }
                    }

                    .accordion-body {
                        @include media-breakpoint-down(md) {
                            padding: 1rem 0.75rem;
                        }

                        @include media-breakpoint-down(sm) {
                            .row .col {
                                padding-right: 0.25rem;
                                padding-left: 0.25rem;

                                &:first-child {
                                    padding-left: calc(var(--bs-gutter-x) * .5);
                                }

                                &:last-child {
                                    padding-right: calc(var(--bs-gutter-x) * .5);
                                }
                            }
                        }

                        .card-input {
                            letter-spacing: 0.5rem;

                            @include media-breakpoint-down(md) {
                                letter-spacing: 0.25rem;
                            }

                            @include media-breakpoint-down(sm) {
                                letter-spacing: unset;
                                padding: .25rem .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
