.faqs {
  @include defaultPaddingLayout();

  .services-heading {
    @include sec-heading();
  }

  &-accordion {
    .accordion-item {
      border-radius: 0.25rem;
      margin-top: 1rem;
      overflow: hidden;
      border: 1px solid $gray-600;
      background: transparent;
      padding: 1.25rem 1.75rem;

      .accordion-button {
        $accordion-icon-color: $gray-200;
        color: $gray-200 !important;
        border: none;
        box-shadow: none;
        padding: 0;
        font-weight: 600;
      }

      .accordion-collapse {
        font-weight: 300;
      }

      .accordion-body {
        margin-top: 1.25rem;
        padding: 0;
      }
    }
  }

}