.movies-shows {
    @include defaultPaddingLayout();

    &.event-page {
        margin-top: -15rem;
        z-index: 2;
        position: relative;

        @include media-breakpoint-down(md) {
            margin-top: unset;
        }
    }

    .services-heading {
        @include sec-heading();
    }

    ul {
        list-style: none;
    }

    .dropdown-menu {
        .dropdown-item {
            background: transparent !important;

            &:hover {
                background: transparent !important;
            }
        }

        width: 25rem !important;
        @include media-breakpoint-down(xs) {
            width: 18rem;
        }
    }

    div.input-col {
        display: flex;
        justify-content: end;
        height: fit-content;

        .form-group {
            position: relative;

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            .form-select {
                color: #ffffff !important;
                background-color: #343a40 !important;
            }


            .form-control {
                padding-left: 3rem;
                color: white
            }

            i {
                position: absolute;
                font-size: 1.25rem;
                color: #515151;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }
        }
    }
}

.card-container.movie-card {

    .card {
        cursor: pointer;
        width: 100%;
        border: none !important;
        border-radius: 0.25rem;

        //&:hover {
        //  transform: scale(1.02);
        //  transition: 200ms ease-in;
        //}

        .card-body {
            width: 100%;

            .img-container {
                max-height: 23rem;
                overflow: hidden;
                border-radius: 0.25rem;
                margin-bottom: 0.5rem;
                position: relative;

                &:hover .img-overlay {
                    background: rgba(0, 0, 0, 0.5);

                    button.book-tkt {
                        opacity: 1
                    }
                }


                .img-overlay {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0);
                    transition: all 0.2s linear;


                    button.book-tkt {
                        position: absolute;
                        background-color: transparent;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 4rem;
                        width: 4rem;
                        z-index: 2;
                        opacity: 0;
                        transition: all 0.2s linear;
                        border: none;
                        background-image: url("data:image/svg+xml, %3Csvg viewBox='0 -7.59 154.79 154.79' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='movie_ticket' transform='translate(-517.238 -128.444)'%3E%3Cpath d='M528.737,170.978l-10.13,14.781a7.885,7.885,0,0,0,2.04,10.929l17.983,12.326a5.554,5.554,0,0,1,9.159,6.278l74.993,51.4a7.887,7.887,0,0,0,10.931-2.041l10.1-14.733a13.752,13.752,0,0,1,15.548-22.685l11.3-16.487a7.887,7.887,0,0,0-2.04-10.931l-75.037-51.427a4.715,4.715,0,0,1-.315.578,5.569,5.569,0,0,1-9.186-6.3,4.772,4.772,0,0,1,.425-.5l-18.024-12.354a7.885,7.885,0,0,0-10.93,2.042l-11.333,16.536a13.754,13.754,0,0,1-15.482,22.587Zm51.7-13.137a5.569,5.569,0,1,1-7.743,1.446A5.572,5.572,0,0,1,580.434,157.841ZM569.043,174.46A5.569,5.569,0,1,1,561.3,175.9,5.565,5.565,0,0,1,569.043,174.46Zm-11.389,16.617a5.569,5.569,0,1,1-7.741,1.445A5.569,5.569,0,0,1,557.654,191.077Z' fill='%23f39014'/%3E%3Cg id='Group_1918'%3E%3Cpath d='M527.48,242.279V260.2a7.885,7.885,0,0,0,7.863,7.862h21.8a5.554,5.554,0,0,1,11.1,0h90.919a7.884,7.884,0,0,0,7.861-7.862V242.336a13.751,13.751,0,0,1,0-27.5V194.848a7.885,7.885,0,0,0-7.861-7.863H568.2a5.266,5.266,0,0,1,.066.656,5.569,5.569,0,1,1-11.137,0,5.458,5.458,0,0,1,.066-.656H535.343a7.886,7.886,0,0,0-7.863,7.863V214.9a13.754,13.754,0,0,1,0,27.383ZM562.7,202.218a5.569,5.569,0,1,1-5.569,5.568A5.568,5.568,0,0,1,562.7,202.218Zm0,20.146a5.569,5.569,0,1,1-5.569,5.568A5.568,5.568,0,0,1,562.7,222.364Zm0,20.145a5.569,5.569,0,1,1-5.569,5.569A5.568,5.568,0,0,1,562.7,242.509Z' fill='%23fce367'/%3E%3Cpath d='M527.48,242.279V260.2a7.885,7.885,0,0,0,7.863,7.862h21.8a5.559,5.559,0,0,1,5.552-5.4v-9.007a5.569,5.569,0,0,1,0-11.139V233.5a5.569,5.569,0,1,1,0-11.138v-9.008a5.569,5.569,0,1,1,0-11.138V193.21a5.571,5.571,0,0,1-5.569-5.569,5.458,5.458,0,0,1,.066-.656H535.343a7.886,7.886,0,0,0-7.863,7.863V214.9a13.754,13.754,0,0,1,0,27.383Z' fill='%23f8c140'/%3E%3Cpath d='M578.91,253.648a2.621,2.621,0,0,1,2.621-2.622h69.337a2.623,2.623,0,0,1,2.621,2.622h0a2.62,2.62,0,0,1-2.621,2.618H581.531a2.619,2.619,0,0,1-2.621-2.618Z' fill='%23f39014'/%3E%3Cpath d='M578.91,202.218a2.621,2.621,0,0,1,2.621-2.621h69.337a2.622,2.622,0,0,1,2.621,2.621h0a2.621,2.621,0,0,1-2.621,2.619H581.531a2.619,2.619,0,0,1-2.621-2.619Z' fill='%23f39014'/%3E%3Cg%3E%3Cg%3E%3Cpath id='Path_4488' d='M607.839,234.345a5.327,5.327,0,0,0-1.247-3.945l-5.154-5.395c-.873-.913-.566-1.836.682-2.043l7.359-1.225a5.314,5.314,0,0,0,3.366-2.407l3.539-6.567c.6-1.115,1.57-1.109,2.154.016l3.439,6.62a5.317,5.317,0,0,0,3.33,2.457l7.337,1.336c1.248.227,1.541,1.152.653,2.055l-5.235,5.316a5.325,5.325,0,0,0-1.308,3.924l1,7.394c.17,1.257-.62,1.82-1.753,1.254l-6.674-3.335a5.324,5.324,0,0,0-4.138-.03L608.466,243c-1.142.55-1.922-.026-1.735-1.28Z' fill='%23f39014'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }


                img {
                    width: 100%;
                }
            }

            h4 {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            .d-flex {
                button.btn-sm {
                    font-weight: 300;
                    font-size: 0.75rem;
                }
            }
        }
    }
}
