$slick-font-path: "/node_modules/slick-carouel/slick/fonts" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/node_modules/slick-carouel/slick" !default;
$slick-arrow-color: black !default;
